.background-colour,
.about-icon { background: #0091ef;}
.background-colour input[type="submit"],
.background-image input[type="submit"] { color: #0091ef;}
.background-colour { color: #fff;}

.btn-flat-colour { border: 2px solid #0072bc; color: #0072bc;}

.btn-flat-colour:hover { color: #0072bc;}

.overlay {
	background: rgba(0, 145, 239, 0.7);
}


@media (min-width: 992px) {

.btn-flat-white:hover { color: #0072bc; background: #fff;}

.btn-flat-colour:hover { color: #fff; background: #0072bc;}

.background-colour input[type="submit"]:hover,
.background-image input[type="submit"]:hover { color: #fff; background: #0072bc;}
input[type="email"]:focus { border: 3px solid #fff;}

.team-module a:hover { color: #0072bc;}

.social-nav a:hover { color: #0072bc; border: 2px solid #0072bc;}

.footer-nav a:hover { color: #0072bc;}



} /*========== 992px MEDIA QUERY END ==========*/