.background-colour,
.about-icon { background: #a4d266;}
.background-colour input[type="submit"],
.background-image input[type="submit"] { color: #a4d266;}
.background-colour { color: #fff;}

.btn-flat-colour { border: 2px solid #8dc63f; color: #8dc63f;}

.btn-flat-colour:hover { color: #8dc63f;}

.overlay {
	background: rgba(164, 210, 102, 0.7);
}


@media (min-width: 992px) {

.btn-flat-white:hover { color: #8dc63f; background: #fff;}

.btn-flat-colour:hover { color: #fff; background: #8dc63f;}

.background-colour input[type="submit"]:hover,
.background-image input[type="submit"]:hover { color: #fff; background: #8dc63f;}
input[type="email"]:focus { border: 3px solid #fff;}

.team-module a:hover { color: #8dc63f;}

.social-nav a:hover { color: #8dc63f; border: 2px solid #8dc63f;}

.footer-nav a:hover { color: #8dc63f;}



} /*========== 992px MEDIA QUERY END ==========*/