.background-colour,
.about-icon { background: #ba32b6;}
.background-colour input[type="submit"],
.background-image input[type="submit"] { color: #ba32b6;}
.background-colour { color: #fff;}

.btn-flat-colour { border: 2px solid #92278f; color: #92278f;}

.btn-flat-colour:hover { color: #92278f;}

.overlay {
	background: rgba(186, 50, 182, 0.7);
}




@media (min-width: 992px) {

.btn-flat-white:hover { color: #92278f; background: #fff;}

.btn-flat-colour:hover { color: #fff; background: #92278f;}

.background-colour input[type="submit"]:hover,
.background-image input[type="submit"]:hover { color: #fff; background: #92278f;}
input[type="email"]:focus { border: 3px solid #fff;}

.team-module a:hover { color: #92278f;}

.social-nav a:hover { color: #92278f; border: 2px solid #92278f;}

.footer-nav a:hover { color: #92278f;}



} /*========== 992px MEDIA QUERY END ==========*/