.background-colour,
.about-icon { background: #d94a39;}
.background-colour input[type="submit"],
.background-image input[type="submit"] { color: #d94a39;}
.background-colour { color: #fff;}

.btn-flat-colour { border: 2px solid #bb3424; color: #bb3424;}

.btn-flat-colour:hover { color: #bb3424;}

.overlay {
	background: rgba(217, 74, 57, 0.7);
}



@media (min-width: 992px) {

.btn-flat-white:hover { color: #bb3424; background: #fff;}

.btn-flat-colour:hover { color: #fff; background: #bb3424;}

.background-colour input[type="submit"]:hover,
.background-image input[type="submit"]:hover { color: #fff; background: #bb3424;}
input[type="email"]:focus { border: 3px solid #fff;}

.team-module a:hover { color: #bb3424;}

.social-nav a:hover { color: #bb3424; border: 2px solid #bb3424;}

.footer-nav a:hover { color: #bb3424;}



} /*========== 992px MEDIA QUERY END ==========*/